{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Story 1</title>
	<link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body style='text-align: center; background-color: burlywood'>
	<nav>
		<h1>My first web</h1>
	</nav>
	<div>
		<img src="{% static 'foto_luqman.jpg' %}" alt="foto Luqman" height="350" width="300">
	</div>
	<div>
		<p>Nama					: Luqman Maulana Rizki</p> 
		<p>NPM					: 1806205092</p>
		<p>Kuliah				: Fasilkom Universitas Indonesia</p> 
		<p>Hobi					: Bermain dan berdiam diri</p>
		<p>Deskripsi singkat	: Orangnya baik, tepat waktu, jujur, dan suka menolong. </p>
	</div>
</body>
</html>